.fotsy{
    height: 450px;
    justify-content: center;                
    text-align: center;     
}

.close:hover{
    cursor: pointer;
}

.bombed-clip {
    background: #e74c3c;
    clip-path: ellipse(100% 100% at 50% 0%);
}
  