body {
  font-family: 'Roboto', sans-serif;
  /*background-color: black;  */
}

.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Change la couleur de l'icône toggler */
.navbar-toggler {
  /*border-color: white;*/
}

@keyframes appear {
    from {
        opacity: 0;        
        clip-path: inset(100% 100% 0 0)
    }
    to {
        opacity: 1;        
        clip-path: inset(0 0 0 0)
    }
}
.anime{            
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear_carte {
  from {
      opacity: 0;
      scale: 0.5;        
  }
  to {
      opacity: 1;
      scale: 1;                            
  }
}
.anime_vers_haut{            
    animation: appear_carte linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear_zoom {
  from {
      opacity: 0;
      scale: 0.5;        
  }
  to {
      opacity: 1;
      scale: 1;                            
  }
}
.anime_zoom{
    animation: appear_zoom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear_objectif {
    from {
        opacity: 0;
        scale: 0.5;        
    }
    to {
        opacity: 1;
        scale: 1;                            
    }
}
.anime_objectif{
  animation: appear_objectif linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* styles.css */
/* Contenu visible par défaut */
.appear_container {
  opacity: 1;
  transform: none;
}

.anime_message {
  animation: appear_message 1s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear_message {
  from {
    opacity: 0;
    transform: scale(0.5) translateX(-500px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

/* Dans ton fichier CSS (ex: App.css) */
@keyframes wiggle-bomber {
  0% {
    transform: rotate(-13deg) translateY(0);
  }
  25% {
    transform: rotate(0deg) translateY(-5px); /* effet "bomber" vers le haut */
  }
  50% {
    transform: rotate(13deg) translateY(0);
  }
  75% {
    transform: rotate(0deg) translateY(-5px); /* encore un petit saut */
  }
  100% {
    transform: rotate(-13deg) translateY(0);
  }
}

.wiggle {
  animation: wiggle-bomber 0.75s ease-in-out;
  display: inline-block;
}


.cur:hover{
  cursor: pointer;
}


